body {
  background-image: url(images.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
#login-form {
  display: inline-block;
  box-sizing: border-box;
  line-height: 40px;
  margin: auto;
  line-height: 50px;
  font-size: 30px;
  position: relative;
  top: 150px;
  right: 100px;
}
#submit {
  background-color: black;
  color: wheat;
  font-size: 20px;
  box-shadow: powderblue;
  position: relative;
  top: 20px;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}
h1 {
  font-size: 40px;
  position: relative;
  right: 280px;
  display: inline-block;
  background-color: whitesmoke;
  border: solid;
  bottom: 200px;
  padding: 5px;
}
#email1 {
  height: 30px;
}
#password {
  height: 30px;
}
#forgot {
  font-size: 20px;
}
#register {
  font-size: 20px;
}
#check {
  height: 20px;
}
